@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/mediaqueries';

.nav {

    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
    height: 0;
    left: 0;
    transition: $transition-fast;
    z-index: $z-fixed;

    &__top {

        border-bottom: 1px solid rgba(145, 127, 127, 0.425);
        height: $nav-top-height;
        @include flex(center, center);

        font-size: $small-font-size;
        padding: 0 1rem;

        a {
            font-size: $small-font-size;
            @include flex(center, center, .5rem);

            .call {
                font-size: $normal-font-size;
            }
        }

        .address {
            display: none;
        }

        ul,
        li {
            @include flex(space-between, center);
        }

        ul {
            gap: 2rem;
        }

        li {
            gap: .5rem;
        }
    }

    &__bottom {
        height: $nav-bottom-height;
        @include flex(center, center);

        &_container {
            @include flex(space-between, center);
            flex-direction: row-reverse;
        }
    }

    .icon {
        font-size: 1.1rem;
    }

    .action {
        display: none;
    }

}

.hide_nav_top {
    transform: translateY(-$nav-top-height);
}

.hide {
    transform: translateY(-($nav-bottom-height + $nav-top-height) );
}

.scroll_bg {
    background-color: $nav-scroll-bg;
}

@include tablet {

    .nav__top {
        justify-content: space-between;

        .address {
            display: initial;
        }
    }

}

@include smallDevice {

    .nav__bottom {

        &_container {
            flex-direction: initial;
        }
        .action {
            display: initial;
        }
    }

}