@import '../..//styles/variables';

.squares {
    overflow: hidden;
    display: block;
    
    svg {
        position: relative;
        color: $primary-color;
        animation: rotate 3s ease-in infinite alternate;
        font-size: .8rem;
    }
}

@keyframes rotate {

    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}