@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
/* ======= MEDIA QURIES ======== */
/* for small devices */
/* for medium devices */
/* for large devices */
.special_dish {
  padding: 0;
  display: grid;
}
.special_dish .img img {
  height: 100%;
}
.special_dish .content {
  padding: 2.5rem 0.3rem;
  text-align: center;
}
.special_dish .content img {
  -webkit-margin-end: auto;
          margin-inline-end: auto;
  -webkit-margin-start: auto;
          margin-inline-start: auto;
}
.special_dish .content p {
  width: auto !important;
}
.special_dish .content .icon {
  font-size: 2.5rem;
  transform: translateY(5%);
  animation: moveUpDown 2s ease-in-out infinite alternate-reverse;
}
.special_dish .content .price {
  margin: 3rem 0;
}
.special_dish .content .price .old {
  color: #595653;
  font-size: 1rem;
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem;
}
.special_dish .content .price .new {
  color: hsl(38, 61%, 73%);
  font-size: 1.6rem;
  -webkit-margin-end: 2rem;
          margin-inline-end: 2rem;
}
.special_dish .content .price .actions {
  text-transform: capitalize;
}

@keyframes moveUpDown {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(5%);
  }
}
@media screen and (min-width: 576px) {
  .content {
    text-align: start !important;
  }
  .content .header {
    text-align: start;
  }
  .content .header img {
    -webkit-margin-start: 0;
            margin-inline-start: 0;
  }
  .content__container {
    padding: 2rem;
    display: grid;
    gap: 3rem;
    grid-template-columns: 2% 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .special_dish {
    grid-template-columns: 1fr 1fr;
  }
}