/* ======= Layout ======== */

@import './_variables.scss';
@import './_mediaqueries.scss';

section {
    padding: $section-padding;
}

/* ======= Layout ======== */

.container {
    max-width: $container-width-lg ;
    margin: auto;
}

@include smallerDevice {
    .container {
        max-width: $container-width-sm ;
    }

}

@include smallDevice {
    .container {
        max-width: $container-width-md ;
    }

}

@include tablet {
    .container {
        max-width: $container-width-md ;
    }

    section {
        padding: $section-padding-lg;
    }
}

@include largeDevice {
    .container {
        max-width: $container-width-lg ;
    }
}

.grid {
    display: grid;
    gap: 1.5rem;
}