@import './_variables.scss';
@import './animation';

.text-center {
    text-align: center;
}

.icon {
    color: $primary-color;
}

.pointer {
    cursor: pointer;
}

.link,
.active {
    position: relative;

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0%;
        height: 1px;
        transform: translateX(-50%);
        margin: 5px 0;
        background-color: $primary-color;
        transition: $transition-slow;
    }

    &::before {
        margin: 8px 0;
    }
}

.link {

    &:hover {

        &::after,
        &::before {
            animation: animatedWidth .7s ease-in-out forwards;
        }
    }
}

.active {
    
    &::after,
    &::before {
        animation: animatedWidth .7s ease-in-out forwards;
    }
}


.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.primary-color {
    color: $primary-color;
}

.title {
    font-family: $header-font;
}

.divider {
    height: 90%;
    width: 1px;
    background-color: $divide-color;
}