@import './_variables.scss';

.text-center {
    text-align: center;
}

.icon {
    color: $primary-color;
}

.pointer {
    cursor: pointer;
}

.link {
    position: relative;

    a {
        color: $primary-color;
        transition: $transition-slow;
        text-transform: uppercase;
        font-size: $smaller-font-size;
    }

    &::after,
    &::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 50%;
        width: 0%;
        height: 1px;
        transform: translateX(-50%);
        margin: 5px 0;
        background-color: $primary-color;
        transition: $transition-slow;
    }

    &::before {
        margin: 8px 0;
    }

    &:hover {
        a {
            color: $text-color;
        }

        &::after,
        &::before {
            width: 100%;
        }
    }
}

// .button {
//     background-color: $primary-color;
//     color: $text-color-dark;
//     width: fit-content;
//     border: 2px solid $primary-color;
//     padding: 1.2rem 1.8rem;
//     letter-spacing: .2rem;
//     text-transform: capitalize;
//     font-size: $smaller-font-size;
//     font-weight: $font-semi-bold;
//     cursor: pointer;
//     transition: $transition-fast;
//     position: relative;

//     &::before {
//         content: '';
//         width: 100px; 
//         height: 100%;
//         background-color: $container-bg;
//         position: absolute;
//         top: -100px; 
//         right: 0;
//         left: 0;
//         width: 100%;
//     }

//     &:hover{
//         background-color: $container-bg;
//         color: $text-color;
//         border-color: $primary-color;
//     }

//     &:hover .button::before{ 
//         top: 0;
//     }

// }

.primary-color {
    color: $primary-color;
}