@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
/* ======= MEDIA QURIES ======== */
/* for small devices */
/* for medium devices */
/* for large devices */
/* ======= Layout ======== */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
/* ======= MEDIA QURIES ======== */
/* for small devices */
/* for medium devices */
/* for large devices */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
section {
  padding: 8rem 1rem;
}

/* ======= Layout ======== */
.container {
  max-width: 75%;
  margin: auto;
}

@media screen and (max-width: 575px) {
  .container {
    max-width: 90%;
  }
}
@media screen and (min-width: 967px) {
  .container {
    max-width: 86%;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    max-width: 75%;
  }
}
.grid {
  display: grid;
  gap: 1.5rem;
}

/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
@keyframes move {
  0% {
    left: -100%;
  }
  100% {
    left: 300%;
  }
}
@keyframes animatedWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.text-center {
  text-align: center;
}

.icon {
  color: hsl(38, 61%, 73%);
}

.pointer {
  cursor: pointer;
}

.link,
.active {
  position: relative;
}
.link::after, .link::before,
.active::after,
.active::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0%;
  height: 1px;
  transform: translateX(-50%);
  margin: 5px 0;
  background-color: hsl(38, 61%, 73%);
  transition: all 0.7s ease-in-out;
}
.link::before,
.active::before {
  margin: 8px 0;
}

.link:hover::after, .link:hover::before {
  animation: animatedWidth 0.7s ease-in-out forwards;
}

.active::after, .active::before {
  animation: animatedWidth 0.7s ease-in-out forwards;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.primary-color {
  color: hsl(38, 61%, 73%);
}

.title {
  font-family: "Forum", cursive;
}

.divider {
  height: 90%;
  width: 1px;
  background-color: rgba(170, 170, 170, 0.4392156863);
}

.relative {
  position: relative;
}
.relative::after, .relative::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.swiper-button-prev,
.swiper-button-next {
  border: 2px solid hsl(38, 61%, 73%);
  background-color: hsl(38, 61%, 73%);
  padding: 1.5rem;
  transform: rotate(30deg);
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 1rem;
  transform: rotate(-30deg);
  color: hsl(30, 8%, 5%);
}

.testimonials .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0;
  top: 70%;
  display: flex;
  gap: 8rem;
  justify-content: center;
  align-items: center;
}
.testimonials .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet {
  background: none;
}
.testimonials .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet img {
  width: 80px;
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  transform: translate(-50%, -50%);
}
.testimonials .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet h6 {
  display: none;
}
.testimonials .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: none;
}
.testimonials .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active img {
  transform: translate(-50%, -50%) scale(1.2);
}
.testimonials .swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal .swiper-pagination-bullet.swiper-pagination-bullet-active h6 {
  display: block;
  transform: translate(-50%, -100%);
  width: 80px;
  color: hsl(38, 61%, 73%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  border: 0;
  outline: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: hsl(210, 4%, 9%);
  font-family: "Roboto";
  color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Forum", cursive !important;
  font-weight: 300;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.1rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.3rem;
}

small {
  font-size: 0.6rem;
  color: #595653;
}

p {
  color: #a7a7a7;
  font-size: 0.813rem;
  line-height: 1.8;
}

a {
  color: #fff;
  display: block;
}
a:hover {
  color: hsl(38, 61%, 73%);
}

.main > section:nth-child(odd) {
  background-color: hsl(30, 8%, 5%);
}

img {
  display: block;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.swiper-pagination-bullet-active {
  background-color: hsl(38, 61%, 73%);
}