@import 'main';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    background-color: $body-bg;
    font-family: $body-font;
    color: $text-color;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5 {
    font-weight: $font-semi-bold;
}

h1 {
    font-size: $biggest-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

small {
    font-size: .6rem;
    color: $muted-text-color;
}

p {
    color: $text-color;
    $normal-font-size: .938rem;
}

a {
    color: $text-color;
    $normal-font-size: .938rem;

    &:hover {
        color: $primary-color;
    }
}

button {
    border: none;
    background-color: transparent;
}

.text-center {
    text-align: center;
}

@include tablet {
    $biggest-font-size: 3rem;
    $h2-font-size: 1.75rem;
    $h3-font-size: 1.25rem;

    $normal-font-size: 1rem;
    $small-font-size: .875rem;
    $smaller-font-size: .813rem;

    h1 {
         font-size: $biggest-font-size;
    }

    h2 {
        font-size: $h2-font-size;
    }

    h3 {
        font-size: $h3-font-size;
    }

    p,
    a {
        font-size: $normal-font-size;
    }
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

// Swiper style modefiying

.swiper-pagination-bullet-active {
    background-color: $primary-color;
}


#tsparticles {
    height: calc(85vh - $nav-height );
    z-index: -1;
}