@import 'main';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    border: 0;
    outline: 0;
}

html {
    scroll-behavior: smooth;
}

// ::-webkit-scrollbar {
//     display: none;
// }

body {
    background-color: $body-bg;
    font-family: $body-font;
    color: $text-color;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $header-font !important;
    font-weight: $font-light;

}

h1 {
    font-size: $h1-font-size;
}

h2 {
    font-size: $h2-font-size;
}

h3 {
    font-size: $h3-font-size;
}

h4 {
    font-size: $h4-font-size;
}

h5 {
    font-size: $h5-font-size;
}

small {
    font-size: .6rem;
    color: $muted-text-color;
}

p {
    color: $text-color-light;
    font-size: $small-font-size;
    line-height: 1.8;
}

a {
    color: $text-color;
    $normal-font-size: .938rem;
    display: block;

    &:hover {
        color: $primary-color;
    }
}

.main {
    &>section:nth-child(odd) {
        background-color: $container-bg;
    }
}

input,
textarea,
select {

    width: 100%;
    padding: 1.3rem;
    color: $text-color;
    background-color: $body-bg;
    border: 1px solid $divide-color;
    font-size: 1rem;

    &::placeholder {
        color: $text-color
    }

    &:focus {
        border-color: $primary-color
    }
}

// @include tablet {
//     $h1-font-size: 5rem;
//     $h2-font-size: 2.75rem;
//     $h3-font-size: 2rem;

//     $normal-font-size: 1rem;
//     $small-font-size: .875rem;
//     $smaller-font-size: .813rem;

//     h1 {
//          font-size: $biggest-font-size;
//     }

//     h2 {
//         font-size: $h2-font-size;
//     }

//     h3 {
//         font-size: $h3-font-size;
//     }

//     p{
//         font-size: $normal-font-size;
//     }
// }

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

// Swiper style modefiying
.swiper-pagination-bullet-active {
    background-color: $primary-color;
}