@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
.contact {
  background-color: hsl(210, 4%, 9%) !important;
  padding: 0;
}

.container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-color: hsl(30, 8%, 5%);
  transform: translateY(-30%);
}
.container .form_container {
  text-align: center;
  padding: 4rem 1rem;
}
.container .form_container .header {
  margin-bottom: 3rem;
}
.container .form_container .header p {
  font-size: 0.938rem;
  color: #fff;
}
.container .form_container .header p span {
  color: hsl(38, 61%, 73%);
  font-size: 1.3rem;
  margin: 0 0.6rem;
}
.container .form_container .form {
  padding: 0 3rem;
}
.container .form_container .form form {
  display: grid;
  gap: 1rem;
}
.container .form_container .form form input[type=date], .container .form_container .form form select {
  position: relative;
  -webkit-padding-start: 3rem;
          padding-inline-start: 3rem;
}
.container .form_container .form form input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 1rem;
  filter: invert(1);
}
.container .form_container .form form .input_group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  flex-direction: auto;
}
.container .location {
  padding: 4rem 1rem;
  text-align: center;
  background-image: url("../../../assets/images/address-pattern.png");
}
.container .location .header {
  margin-bottom: 2rem;
  display: grid;
  row-gap: 1.3rem;
}
.container .location .header .number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: auto;
  flex-direction: auto;
  font-size: 2.1rem;
}
.container .location .header .number a {
  color: hsl(38, 61%, 73%);
}
.container .location .header svg {
  margin: auto;
}
.container .location .address ul {
  display: grid;
  row-gap: 1rem;
}
.container .location .address ul li p {
  width: 50%;
  margin: 0.5rem auto;
  font-size: 0.938rem;
}