@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
/* ======= MEDIA QURIES ======== */
/* for small devices */
/* for medium devices */
/* for large devices */
.contact {
  background-color: hsl(210, 4%, 9%) !important;
  padding: 0;
  max-height: 130vh;
}

.container {
  display: grid;
  background-color: hsl(30, 8%, 5%);
  transform: translateY(-30%);
}
.container .form_container {
  text-align: center;
  padding: 4rem 1rem;
}
.container .form_container .header {
  margin-bottom: 2rem;
}
.container .form_container .header p {
  font-size: 1rem;
  color: #fff;
}
.container .form_container .header p span {
  color: hsl(38, 61%, 73%);
  font-size: 0.8rem;
  margin: 0 0.6rem;
}
.container .form_container .form form input[type=date],
.container .form_container .form form select {
  position: relative;
  -webkit-padding-start: 3rem;
          padding-inline-start: 3rem;
}
.container .form_container .form form input[type=date]::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 1rem;
  filter: invert(1);
}
.container .form_container .form form input,
.container .form_container .form form select,
.container .form_container .form form textarea {
  margin-bottom: 1rem;
}
.container .location {
  padding: 4rem 1rem;
  text-align: center;
  background-image: url("../../../assets/images/address-pattern.png");
}
.container .location .header {
  margin-bottom: 2rem;
  display: grid;
  row-gap: 1.3rem;
}
.container .location .header .number {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: auto;
  flex-direction: auto;
  font-size: 1.8rem;
}
.container .location .header .number a {
  color: hsl(38, 61%, 73%);
}
.container .location .header svg {
  margin: auto;
}
.container .location .address ul {
  display: grid;
  row-gap: 1rem;
}
.container .location .address ul li p {
  width: 50%;
  margin: 0.5rem auto;
  font-size: 1rem;
}

@media screen and (min-width: 768px) {
  .contact {
    max-height: 80vh;
  }
  .input_group:first-child {
    display: grid;
    align-items: auto;
    justify-content: auto;
    gap: 1rem;
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 967px) {
  .contact {
    max-height: 100vh;
  }
  .input_group:nth-child(2) {
    display: grid;
    align-items: auto;
    justify-content: auto;
    gap: 1rem;
    grid-template-columns: 2fr 1fr;
  }
}
@media screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 2fr 1fr;
  }
  .container .form_container .header {
    margin-bottom: 3rem;
  }
  .container .form_container .header span {
    font-size: 1.3rem !important;
  }
  .container .form {
    padding: 0 3rem;
  }
}