@import '../../../styles/variables';
@import '../../../styles/mediaqueries';
@import '../../../styles/mixins';

.contact {
    background-color: $body-bg !important;
    padding: 0;
    max-height: 130vh;
}

.container {
    display: grid;
    background-color: $container-bg;
    transform: translateY(-30%);

    .form_container {
        text-align: center;
        padding: 4rem 1rem;

        .header {
            margin-bottom: 2rem;

            p {
                font-size: $normal-font-size;
                color: $text-color;

                span {
                    color: $primary-color;
                    font-size: $h5-font-size-sm;
                    margin: 0 .6rem;
                }
            }
        }

        .form {
            form {

                input[type="date"],
                select {
                    position: relative;
                    padding-inline-start: 3rem;
                }

                input[type="date"]::-webkit-calendar-picker-indicator {
                    position: absolute;
                    left: 1rem;
                    filter: invert(1);
                }

                input,
                select,
                textarea {
                    margin-bottom: 1rem;
                }

            }

        }

    }

    .location {
        padding: 4rem 1rem;
        text-align: center;
        background-image: url('../../../assets/images/address-pattern.png');

        .header {
            margin-bottom: 2rem;
            display: grid;
            row-gap: 1.3rem;

            .number {
                @include flex(center, center);
                font-size: $h3-font-size-lg;

                a {
                    color: $primary-color;
                }
            }

            svg {
                margin: auto;
            }
        }

        .address {
            ul {
                display: grid;
                row-gap: 1rem;

                li {
                    p {
                        width: 50%;
                        margin: .5rem auto;
                        font-size: $normal-font-size
                    }
                }

                ;
            }
        }

    }
}

@include mobile {
    .contact {
        max-height: 80vh;
    }

    .input_group:first-child {

        @include grid(1rem, 1fr 1fr);

    }

}

@include tablet {

    .contact {
        max-height: 100vh;
    }

    .input_group:nth-child(2) {

        @include grid(1rem, 2fr 1fr);

    }

}

@include largeDevice {

    .container {
        grid-template-columns: 2fr 1fr;

        .form_container {

            .header {
                margin-bottom: 3rem;
    
                span {
                    font-size: $h5-font-size-lg !important;
                }
            }
        }
    
        .form {
            padding: 0 3rem;
        }
    }
    
}