@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
/* ======= MEDIA QURIES ======== */
/* for small devices */
/* for medium devices */
/* for large devices */
.container {
  text-align: center;
  margin-bottom: 3rem;
}
.container .subtitle {
  color: hsl(38, 61%, 73%);
  margin-bottom: 1.5rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-size: 0.7rem;
  font-weight: bold;
}
.container .title h1, .container .title h2 {
  margin-bottom: 2rem;
}
.container .pattern_img img {
  width: 100px;
  margin: auto;
  margin-bottom: 2rem;
}
.container .description p {
  font-size: 1.2rem;
  width: 35%;
  margin: auto;
  line-height: 1.9;
  font-size: 0.938rem;
}
.container .description .header_desc {
  width: 70%;
  line-height: 1.4;
  color: #fff;
}

@media screen and (min-width: 576px) {
  .description .header_desc {
    font-size: 1.3rem !important;
  }
}