@import "../../../styles/variables";
@import "../../../styles/mediaqueries";

.container {
    text-align: center;
    margin-bottom: 3rem;
    
    .subtitle {
        color: $primary-color;
        margin-bottom: 1.5rem;
        letter-spacing: .3rem;
        text-transform: uppercase;
        font-size: $smaller-font-size;
        font-size: .7rem;
        font-weight: bold;
    }

    .title {
        h1,h2{
            margin-bottom: 2rem;
        }
    }

    .pattern_img {
        img {
            width: 100px;
            margin: auto;
            margin-bottom: 2rem;
        }
    }

    .description {

        p {
            font-size: 1.2rem;
            width: 35%;
            margin: auto;
            line-height: 1.9;
            font-size: $normal-font-size;
        }

        .header_desc {
            width: 70%;
            line-height: 1.4;
            color: $text-color;
            // font-size: $h5-font-size-sm;
        }
    }
}

@include smallDevice {
    
    .description {
        .header_desc {
            font-size: $h5-font-size-lg !important;
        }
    }

}