@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
.container {
  text-align: center;
}
.container .subtitle {
  color: hsl(38deg, 61%, 73%);
  margin-bottom: 1.5rem;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-size: 0.7rem;
  font-weight: bold;
}
.container .pattern_img img {
  width: 100px;
  margin: auto;
  margin-bottom: 2rem;
}
.container .desc {
  margin: 1rem 0 3rem;
}
.container .desc p {
  font-size: 1.2rem;
}