@import '../../../styles/variables';
@import '../../../styles/animation';
@import '../../../styles/mediaqueries';
@import '../../../styles/reusable';

.offers {

    .items {
        display: grid;
        gap: 6rem;
    }

    .offer__item {
        text-align: center;
        display: grid;
        gap: 1.5rem;

        &_img {
            position: relative;
            min-height: 400px;
            overflow: hidden;

            img {
                position: absolute;
                z-index: 2;
                left: 50%;
                right: 50%;
                top: 50%;
                height: 90%;
                transform: translateX(-50%) translateY(-50%);
            }

            &::before {
                content: '';
                position: absolute;
                left: 50%;
                right: 50%;
                width: 140px;
                min-height: 400px;
                transform: translate(-50%) scaleX(1);
                background-image: url('../../../assets/images/shape.png');
                transition: $transition-slow;
                z-index: 1;
            }

            @extend .skewShape;

            &:hover {
                &::before {
                    transform: translate(-50%) scaleX(-1);
                }

                &:after {
                    animation: move 1.5s ease-in-out;
                }

            }

        }

    }

}

.show {
    display: none;
}

@include tablet {

    .items {
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
    }

}

@include largeDevice {

    .offers {
        min-height: 120vh;
    }

    .container {
        position: absolute;
        z-index: 1;
        left: 50%;
        transform: translate(-50%);
    }

    .header {
        grid-column: 1/6;
    }

    .items {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .offer__item:nth-child(1),
    .offer__item:nth-child(3) {
        transform: translateY(-40%);
    }

}