@import '../../../styles/variables';
@import '../../../styles/mediaqueries';

.testimonials {

    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2rem;

    .container {

        min-height: 120vh;
        background: linear-gradient(rgba(0, 0, 0, .7), rgba(0, 0, 0, .7)), url('../../../assets/images/testimonials-bg.jpg');
        background-size: cover;

        .slide {
            padding: 5rem 0;
            min-height: 70vh;

            .quote_container {
                display: grid;
                text-align: center;

                q {
                    margin-bottom: 2rem;
                    font-size: $h2-font-size-sm;
                    display: block;
                    font-family: $header-font;
                    line-height: 1.6;
                }

                .quote_mark {
                    font-size: 2rem;
                    margin: auto;
                }
            }
        }
    }

}

@include mobile {

    .container {
        min-height: 70vh !important;
    }

    .slide {
        min-height: 50vh !important;

        .quote_container {

            q {
                font-size: $h2-font-size-md !important;
            }
        }
    }

}

@include tablet {

    .container {
        min-height: 140vh;
    }

    .slide {
        min-height: 80vh !important;

        .quote_container {

            q {
                width: 70%;
                margin: auto;
                font-size: $h2-font-size-md !important;
            }
        }
    }

}

@include largeDevice {

    .slide {
        min-height: 100vh !important;

        .quote_container {

            q {
                font-size: $h2-font-size-md !important;
            }
        }
    }

}