@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
/* ======= MEDIA QURIES ======== */
/* for small devices */
/* for medium devices */
/* for large devices */
.testimonials {
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 2rem;
}
.testimonials .container {
  min-height: 120vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../../../assets/images/testimonials-bg.jpg");
  background-size: cover;
}
.testimonials .container .slide {
  padding: 5rem 0;
  min-height: 70vh;
}
.testimonials .container .slide .quote_container {
  display: grid;
  text-align: center;
}
.testimonials .container .slide .quote_container q {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  display: block;
  font-family: "Forum", cursive;
  line-height: 1.6;
}
.testimonials .container .slide .quote_container .quote_mark {
  font-size: 2rem;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    min-height: 70vh !important;
  }
  .slide {
    min-height: 50vh !important;
  }
  .slide .quote_container q {
    font-size: 2rem !important;
  }
}
@media screen and (min-width: 967px) {
  .container {
    min-height: 140vh;
  }
  .slide {
    min-height: 80vh !important;
  }
  .slide .quote_container q {
    width: 70%;
    margin: auto;
    font-size: 2rem !important;
  }
}
@media screen and (min-width: 1024px) {
  .slide {
    min-height: 120vh !important;
  }
  .slide .quote_container q {
    font-size: 2rem !important;
  }
}