@import '../../../styles/variables';
@import '../../../styles/reusable';

.special_offer {
    padding-left: 15px;
    padding-right: 15px;

    @extend .relative;
    @extend .sidesPatterenbg;

    .img {
        width: 100%;
        border-radius: 0;

        &::after {
            transform: scale(0);
            background-color: rgba($color: #fff, $alpha: 0.3);
            opacity: 1;
        }

        &:hover {

            img {
                transform: scale(1.1) rotate(5deg);

            }

            &::after {
                background-color: rgba($color: $primary-color, $alpha: 0.3);
                transform: scale(1.1);
            }
        }

    }

    .slider {
        padding: 3rem 0;
    }

    .slide{

        .slide_item {
            display: grid;
            gap: 1rem;
            text-align: center;
    
            .price {
                color: $primary-color;
            }
        }
    
        &:nth-child(even){
            transform: translateY(-10%);
        }

    }

    .action {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 1rem;
    }

}