@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
.special_offer {
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}
.special_offer::before, .special_offer::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 100%;
  top: 0;
  background-image: url("../../../assets/images/sidePattern.png");
}
.special_offer::before {
  left: 0;
}
.special_offer::after {
  right: 0;
}