@import '../../../styles/variables';

.special_offer {
    padding-left: 15px;
    padding-right: 15px;
    position: relative;

    &::before, &::after {
        content: "";
        position: absolute;
        width: 15px;
        height: 100%;
        top: 0 ;
        background-image: url('../../../assets/images/sidePattern.png');
    }

    &::before{
        left: 0;
    }

    &::after{
        right: 0;
    }

}