@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
@keyframes move {
  0% {
    left: -100%;
  }
  100% {
    left: 300%;
  }
}
@keyframes animatedWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.text-center {
  text-align: center;
}

.icon {
  color: hsl(38, 61%, 73%);
}

.pointer {
  cursor: pointer;
}

.link,
.active {
  position: relative;
}
.link::after, .link::before,
.active::after,
.active::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0%;
  height: 1px;
  transform: translateX(-50%);
  margin: 5px 0;
  background-color: hsl(38, 61%, 73%);
  transition: all 0.7s ease-in-out;
}
.link::before,
.active::before {
  margin: 8px 0;
}

.link:hover::after, .link:hover::before {
  animation: animatedWidth 0.7s ease-in-out forwards;
}

.active::after, .active::before {
  animation: animatedWidth 0.7s ease-in-out forwards;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.primary-color {
  color: hsl(38, 61%, 73%);
}

.title {
  font-family: "Forum", cursive;
}

.divider {
  height: 90%;
  width: 1px;
  background-color: rgba(170, 170, 170, 0.4392156863);
}

.relative, .intro .container .fact_counter {
  position: relative;
}
.relative::after, .intro .container .fact_counter::after, .relative::before, .intro .container .fact_counter::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sidesPatterenbg::before, .sidesPatterenbg::after {
  width: 15px;
  height: 100%;
  background-image: url("../assets/images/sidePattern.png");
}
.sidesPatterenbg::before {
  left: 0;
}
.sidesPatterenbg::after {
  right: 0;
  left: auto;
}

.skewShape::after {
  content: "";
  position: absolute;
  left: -100%;
  right: 50%;
  width: 140px;
  min-height: 400px;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.4));
  transform: skewX(-25deg);
  transition: all 0.7s ease-in-out;
  z-index: 3;
}

/* ======= MEDIA QURIES ======== */
/* for small devices */
/* for medium devices */
/* for large devices */
.intro {
  background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.9) 0, hsla(0, 0%, 0%, 0.4)), url("../../../assets/images/intro-bg.jpg");
  background-size: cover;
  background-attachment: fixed;
}
.intro .container {
  display: grid;
  row-gap: 3rem;
}
.intro .container .video {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: auto;
  flex-direction: auto;
  position: relative;
  padding: 4rem;
  margin: auto;
}
.intro .container .video .play_btn, .intro .container .video::before, .intro .container .video::after {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: auto;
  flex-direction: auto;
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
.intro .container .video::before, .intro .container .video::after {
  content: "";
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform-origin: center;
  z-index: 1;
  border: 0px solid rgba(255, 255, 255, 0.5);
  animation: borderWidth 2s ease-in infinite;
}
.intro .container .video::after {
  animation-delay: 1s;
}
.intro .container .video .play_btn {
  border: 1px solid #fff;
  font-size: 1.4rem;
  z-index: 2;
}
.intro .container .shape {
  text-align: center;
}
.intro .container .content {
  text-align: center;
  line-height: 1.4;
}
.intro .container .content h3 {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.intro .container .content span {
  color: hsl(38, 61%, 73%);
  font-size: 0.813rem;
  letter-spacing: 0.2rem;
}
.intro .container .fact_counter {
  margin-top: 5rem;
}
.intro .container .fact_counter::before {
  background-image: url("../../../assets/images/intro_pattern.png");
  height: 1.5rem;
  top: -15%;
}
.intro .container .fact_counter::after {
  display: none;
}
.intro .container .fact_counter .facts {
  display: grid;
  align-items: auto;
  justify-content: auto;
  gap: 3rem;
  grid-template-columns: auto;
}
.intro .container .fact_counter .facts .fact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
  flex-direction: column;
}
.intro .container .fact_counter .facts .fact_count {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: auto;
  flex-direction: auto;
  font-family: "Forum", cursive;
}
.intro .container .fact_counter .facts .fact_count span {
  font-size: 1.5rem;
}
.intro .container .fact_counter .facts .fact_count svg {
  font-size: 0.813rem;
}
.intro .container .fact_counter .facts .fact_text {
  color: hsl(38, 61%, 73%);
  letter-spacing: 0.2rem;
  line-height: 1.7;
  font-size: 0.813rem;
}

@media screen and (min-width: 768px) {
  .intro .container .content {
    width: 80%;
    margin: auto;
  }
  .intro .container .content h3 {
    font-size: 2rem;
  }
  .intro .container .content span {
    font-size: 1rem;
  }
  .intro .container .fact_counter::before {
    height: 10%;
    top: -30%;
  }
  .intro .container .fact_counter .facts {
    grid-template-columns: 1fr 1fr;
  }
  .intro .container .fact_counter .facts .fact_count span {
    font-size: 2rem;
  }
  .intro .container .fact_counter .facts .fact_count svg {
    font-size: 1rem;
  }
  .intro .container .fact_counter .facts .fact_text {
    font-size: 1rem;
  }
}
@media screen and (min-width: 967px) {
  .intro .container .content {
    width: 60%;
  }
  .intro .container .content h3 {
    font-size: 3rem;
  }
  .intro .container .fact_counter::before {
    height: 15%;
    top: -45%;
  }
  .intro .container .fact_counter .facts {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .intro .container .fact_counter .facts .fact_count span {
    font-size: 3rem;
  }
}
@keyframes borderWidth {
  0% {
    border-width: 0;
    border-color: rgba(255, 255, 255, 0.7);
  }
  100% {
    border-width: 50px;
    border-color: rgba(255, 255, 255, 0.1);
  }
}