@import '../../../styles/variables';
@import '../../../styles/mixins';
@import '../../../styles/reusable';

.intro {
    background: linear-gradient(90deg, hsla(0, 0%, 0%, 0.9) 0, hsla(0, 0%, 0%, .4)), url('../../../assets/images/intro-bg.jpg');
    background-size: cover;
    background-attachment: fixed;

    .container {
        display: grid;
        row-gap: 3rem;
        
        .video {
            @include flex(center, center);
            position: relative;
            padding: 4rem;

            .play_btn,
            &::before,
            &::after {
                position: absolute;
                @include flex(center, center);
                border-radius: 50%;
                width: 100px;
                height: 100px;

            }

            &::before,
            &::after {
                content: "";
                z-index: 1;
                top: 50%;
                left: 50%;

                transform: translate(-50%, -50%);
                transform-origin: center;
                z-index: 1;

                border: 0px solid rgba($color: #fff, $alpha: .5);
                animation: borderWidth 2s ease-in infinite;
            }

            &::after {
                animation-delay: 1s;
            }

            .play_btn {
                border: 1px solid #fff;
                font-size: 1.4rem;
                z-index: 2;

            }
        }


        .shape {
            text-align: center;
        }

        .content {
            text-align: center;
            width: 60%;
            margin: auto;
            line-height: 1.4;

            h3 {
                font-size: $h2-font-size-lg;
                margin-bottom: 2rem;
            }

            span {
                color: $primary-color;
                font-size: $normal-font-size;
                letter-spacing: .2rem;
            }
        }

        .fact_counter {
            @extend .relative;
            margin-top: 5rem;

            &::before {
                background-image: url('../../../assets/images/intro_pattern.png');
                height: 30%;
                top: -130%;
            }

            &::after {
                display: none;
            }

            .facts {
                display: grid;
                grid-template-columns: 15% 15% 15% 15%;
                justify-content: space-between;

                .fact {
                    @include flex(space-between, center);

                    &_count {
                        @include flex(space-between, center);
                        font-family: $header-font;

                        span {
                            font-size: $h2-font-size-lg;
                        }

                        svg {
                            font-size: 2rem;
                        }

                    }

                    &_text {
                        color: $primary-color;
                        letter-spacing: .2rem;
                        line-height: 1.7;
                        font-size: $normal-font-size;
                    }
                }
            }

        }
    }

}

@keyframes borderWidth {
    0% {
        border-width: 0;
        border-color: rgba($color: #fff, $alpha: .7);
    }

    100% {
        border-width: 50px;
        border-color: rgba($color: #fff, $alpha: .1);

    }
}