@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
@import url("https://fonts.googleapis.com/css2?family=Forum&family=Gloock&family=Lora&family=Raleway&family=Space+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap");
/* ===== Colors   ===== */
/* ===== Font and Typography  ===== */
/* ===== Container width  ===== */
/* ===== Section  ===== */
/* =====  Font Weight  ===== */
/* =====  Margins  ===== */
/* =====  Z index  ===== */
/* ===== Transition  ===== */
@keyframes move {
  0% {
    left: -100%;
  }
  100% {
    left: 300%;
  }
}
@keyframes animatedWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.text-center {
  text-align: center;
}

.icon {
  color: hsl(38, 61%, 73%);
}

.pointer {
  cursor: pointer;
}

.link,
.active {
  position: relative;
}
.link::after, .link::before,
.active::after,
.active::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0%;
  height: 1px;
  transform: translateX(-50%);
  margin: 5px 0;
  background-color: hsl(38, 61%, 73%);
  transition: all 0.7s ease-in-out;
}
.link::before,
.active::before {
  margin: 8px 0;
}

.link:hover::after, .link:hover::before {
  animation: animatedWidth 0.7s ease-in-out forwards;
}

.active::after, .active::before {
  animation: animatedWidth 0.7s ease-in-out forwards;
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.primary-color {
  color: hsl(38, 61%, 73%);
}

.title {
  font-family: "Forum", cursive;
}

.divider {
  height: 90%;
  width: 1px;
  background-color: rgba(170, 170, 170, 0.4392156863);
}

.relative {
  position: relative;
}
.relative::after, .relative::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.sidesPatterenbg::before, .sidesPatterenbg::after {
  width: 15px;
  height: 100%;
  background-image: url("../assets/images/sidePattern.png");
}
.sidesPatterenbg::before {
  left: 0;
}
.sidesPatterenbg::after {
  right: 0;
  left: auto;
}

.skewShape::after, .news .news .new::after {
  content: "";
  position: absolute;
  left: -100%;
  right: 50%;
  width: 140px;
  min-height: 400px;
  background: linear-gradient(90deg, hsla(0, 0%, 100%, 0) 0, hsla(0, 0%, 100%, 0.4));
  transform: skewX(-25deg);
  transition: all 0.7s ease-in-out;
  z-index: 3;
}

@keyframes move {
  0% {
    left: -100%;
  }
  100% {
    left: 300%;
  }
}
@keyframes animatedWidth {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
.news .news {
  display: grid;
  align-items: auto;
  justify-content: space-between;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.news .news .new {
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.news .news .new::after {
  top: 0;
  height: 100%;
}
.news .news .new .time_padge {
  background-color: hsl(30, 8%, 5%);
  color: hsl(38, 61%, 73%);
  position: absolute;
  left: 10%;
  top: 10%;
  z-index: 1;
  padding: 0.3rem;
}
.news .news .new .img {
  overflow: hidden;
}
.news .news .new .img img {
  transition: all 0.4s ease-in-out;
}
.news .news .new .content {
  position: absolute;
  width: 100%;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 2rem;
}
.news .news .new .content h4 {
  margin-top: 1rem;
}
.news .news .new .content span {
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 0.813rem;
  color: hsl(38, 61%, 73%);
}
.news .news .new:hover img {
  transform: scale(1.1);
}
.news .news .new:hover:after {
  animation: move 1.5s ease-in-out;
}
.news .action {
  margin-top: 4rem;
  text-align: center;
}